.infoCardTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}
.infoCardBottom {
  .infoCardBottomEntry {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 16px;
  }
}
