.infoCard {
  border-radius: 12px;
  border: 1px solid var(--grey-grey-30, #e3e3e8);
  background: var(--grey-white, #fff);
  padding: 16px;

  @media (max-width: 900px) {
    margin-bottom: 16px;
  }

  .infoCardTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }
  .infoCardBottom {
    .infoCardBottomEntry {
      margin-top: 12px;
      display: grid;
      grid-template-columns: 60px 1fr;
      gap: 16px;
    }
  }
}
