.input {
  border-radius: 12px;
  border: 1.5px solid var(--grey-grey-50, #aeaeb7);
  background: var(--grey-white, #fff);
  padding: 12px;
  width: 100%;
  color: var(--text-dark, #131316);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
